%h1 Listing vehicles

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @vehicles.each do |vehicle|
    %tr
      %td= vehicle.name
      %td= link_to 'Show', vehicle
      %td= link_to 'Edit', edit_vehicle_path(vehicle)
      %td= link_to 'Destroy', vehicle, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vehicle', new_vehicle_path
